html,
body {
  font-family: "Calibri", "Arial Narrow", Arial, sans-serif;
  background-color: #5ab8b6;
  height: 100vh;
}

h1 {
  color: white;
  font-weight: 300;
}
.container {
  margin: 10px auto;
  max-width: 900px;
  width: 80%;
  overflow: hidden;
}

.description {
  color: #8f8f8f;
}

.body {
  min-height: 90%;
}

.body .container {
  background-color: rgb(243, 243, 243);
  padding: 20px;
  border-radius: 30px;
  height: 100%;
}
