html,
body {
  font-family: "Calibri", "Arial Narrow", Arial, sans-serif;
  background-color: blueviolet;
  height: 100vh;
}

h1 {
  color: white;
}
.container {
  margin: 0 auto;
  max-width: 900px;
  width: 80%;
  overflow: hidden;
}

.body {
  min-height: 90%;
}

.body .container {
  background-color: rgb(243, 243, 243);
  border: 3px solid red;
  border-radius: 10px;
  height: 100%;
}
